#form {
    position: absolute;
    top: 410px;
    left: 279px;
    display: none;
    width: 242px;
  }
 
  #score {
    position: absolute;
    display: flex;
    width: 400px;
    flex-direction: column;
    top: 10%;
    left: 20%;
  }

  input{
      font-size: 40px;
  }